/* Your CSS styles go here */
.card {
    margin-top: 50px; /* Example margin for the card */
    padding: 20px; /* Space between border and contents */
}

.btn{
    margin-left: 120px;
}
.fa-person{
    font-size: 45px;
}